@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-league-spartan);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: black;
  color: white;
}
